@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #090a0c;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #14161b;
}

::-webkit-scrollbar-thumb {
  background: #1f2128;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4553a4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.hide-scrollbar {

  scrollbar-width: none;

  -ms-overflow-style: none; 

}



.hide-scrollbar::-webkit-scrollbar {

  display: none; 

}

/* .max-w-7xl {
  max-width: 98rem;
} */

/* app-container */
.app-container {max-width: 1700px; margin: auto;}
/* .app-container.sm {max-width: 1380px;} */

@media screen and (max-width: 1800px) {
  .app-container {max-width: 100%; padding-left: 80px; padding-right: 80px;}
}

@media screen and (max-width: 1024px) {
  .app-container {padding-left: 20px; padding-right: 20px;}
}